
.mainFxmlClass {

}
/* Estilo del Fondo Principal */
.main-pane {
    -fx-background-color: #1a2332;
}

/* Títulos */
.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.subtitle-label {
    -fx-font-size: 14px;
    -fx-text-fill: #95a5a6;
}

/* Botón Gestión de Estudiantes (Azul) */
.btn-dashboard-primary {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-dashboard-primary:hover {
    -fx-background-color: #2980b9;
}

/* Botón Cerrar Sesión (Rojo) */
.btn-dashboard-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-dashboard-danger:hover {
    -fx-background-color: #c0392b;
}